<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/singlePost/singlePost.css">
    <title>Single post</title>
</head>
<body>
    <div class="main">
        <header>
            <div class="header">
                <h1>Blog</h1>

                <form action="/blogs" method="get">
                    <input type="text" name="search" id="search" placeholder="Search">
                </form>

                <div class="button">
                    <a href="/profile">
                        Profile
                    </a>
                </div>
            </div>

            <div class="header filters">
                <a href="">
                    Back end
                </a>
                
                <a href="">
                    Front end
                </a>
                
                <a href="">
                    Programming
                </a>
                
                <a href="">
                    Development
                </a>
                
                <a href="">
                    Dev Ops
                </a>
            </div>
        </header>

        <div class="posts">
            <div class="postsNameAndCategory">
                <p> <%= post.title %>  </p>
                
                <a href="#">
                    Category 1
                </a>

                <a href="#">
                    Category 2
                </a>
            </div>

            <div class="postsBody">
                <%= post.body %> 
            </div>

            <div class="postsMetrics">
                <div class="postsIcons"> 
                    <div>
                        <img src="../public/icons/Show.svg" alt="">
                        25
                    </div>

                    <div>
                        <img src="../public/icons/Heart.svg" alt="">
                        25
                    </div>

                    <div>
                        <img src="../public/icons/Chat.svg" alt="">
                        25
                    </div>
                </div>
            </div>
        </div>

        <div class="comment">
            <% for( let i = 0; i < comments.length; i++ ) { %>
                <% if (i > 2) { %>
                    <% break %> 
                <% } else {%>
                    <div class="commentWrapper">
                        <div class="commentUser">
                            <img src="../public/img/imgPlaceholder.png" alt="">
            
                            <p>
                                Username
                            </p>
                        </div>
            
                        <div class="commentBody">
                            <%= comments[i].body %> 
                        </div>
                    </div>
                <% } %> 
            <% } %>

            <% if (comments.length > 3) { %>
                <div class="commentMore">
                    <p>
                        More comments
                    </p>
    
                    <button>
                        <img src="../public/icons/ArrowDown.svg" alt="">
                    </button>
                </div>
            <% } %>

            <% if (user) { %>
                <div class="commentSubmit">
                    <form action="/posts/<%= post._id %> " method="post">
                        <img src="../public/img/imgPlaceholder.png" alt="">
    
                        <input type="text" name="body" id="commentBody" placeholder="Your comment...">
    
                        <button type="submit">
                            <img src="../public/icons/Send.svg" alt="">
                        </button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>